
.acao{
    display: flex;
    text-decoration: none;
    justify-content: center;
}
.link{
    margin-left: 0.2em;
    color: #fff;
}
.link:hover{
    margin-left: 0.2em;
    color: #dadada;
}
.icone{
    width: 60%;
}